@font-face {
  font-family: Ubuntu-Light;
  src: url("fonts/Ubuntu-Light.ttf") format("ttf");
  font-weight: lighter;
  font-style: normal;
}

body {
  font-family: Ubuntu-Light, sans-serif;
  font-size: 13pt;
  line-height: 1.7em;
  padding: 5%;
  margin: 0;
}

:root {
  color-scheme: light dark;
}

a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.flex > * {
  margin: 0 1em;
  flex-basis: 25rem;
  flex-grow: 1;
}

header {
  position: relative;
}
h1 {
  text-align: center;
}
.skiplink {
  position: absolute;
  bottom: -2em;
  right: 0;
}

@media only screen and (min-width: 50em) {
  .flex > * {
    flex-basis: 20rem;
  }
  .skiplink {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
    color: #fff;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
}
