/* Fonts */
.font-Ubuntu {
  font-family: "Ubuntu Regular", sans-serif;
  font-size: 14pt;
  h1 {
    font-family: "Ubuntu-Bold";
  }
  h2,
  .lang {
    font-family: "Ubuntu-Medium";
  }
}

.font-SylexiadSans {
  font-family: SylexiadSansMedium, sans-serif;
  font-size: 16.8pt;
  h2,
  .lang {
    font-family: SylexiadSansMedium-Bold, sans-serif;
  }
}

.font-Lora {
  font-family: Lora-Regular, sans-serif;
  font-size: 14.5pt;
  h2,
  .lang {
    font-family: Lora-Bold, serif;
  }
}

.font-AtkinsonHyperlegible {
  font-family: AtkinsonHyperlegible-Regular, sans-serif;
  font-size: 15.2pt;
  h2,
  .lang {
    font-family: AtkinsonHyperlegible-Bold, sans-serif;
  }
}

.font-OpenDyslexicThree {
  font-family: OpenDyslexicThree-Regular, sans-serif;
  font-size: 12.4pt;
  h2,
  .lang {
    font-family: OpenDyslexicThree-Bold, sans-serif;
  }
}
