@use 'partials/_css-notice';
@use 'partials/_font-faces';
@use 'partials/_font-code';

body {
  font-family: "Ubuntu Regular", sans-serif;
  font-size: 13pt;
  line-height: 1.35em;
  margin: 0 auto;
  background: #efefef;
  color: #333333;
}

:root {
  color-scheme: light dark;
}

a {
  text-decoration: none;
  color: #763bff;
}
a:hover,
a:focus {
  color: #5f0096;
}

header {
  position: relative;
  background-image: url("../img/header_img_placeholder.jpg");
  background-repeat: no-repeat;
  background-size: cover 100%;
  padding: 1.5em 1em;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
main > * {
  margin: 0 1em;
  flex-basis: 25rem;
  flex-grow: 1;
}

h1 {
  display: inline-block;
  background: linear-gradient(to right, #c31fba, #6600ea);
  padding: 0.4em;
  border-top-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
  color: white;
  line-height: 1em;
}
h2 {
  color: #bf1eb7;
  line-height: 1.2;
}
ul {
  background: #e2e2e2ff;
  border-width: 3px 0 0 0;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #c31fba, #6600ea) 100% 1;
  border-image: linear-gradient(to right, #c31fba, #6600ea) 100% 1;
}
p {
  margin: 2rem auto;
}

footer {
  background-color: #e2e2e2ff;
  text-align: center;
  padding: 1em;
}
.lang {
  font-size: 1.2em;
}
.skiplink {
  position: absolute;
  bottom: -2em;
  right: 1em;
}
/* Utility classes */
.display-none {
  display: none;
}
.js {
  display: none;
}

/* Choosing fonts via JS */
#accessibility-options {
  button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: inherit;
    color: #efefef;
    background-color: #6600ea;
    border: 0;
    border-bottom-left-radius: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0.4em 0.6em;
  }
  button:hover {
    background-color: #5b00d2;
    cursor: pointer;
  }
  button:focus {
    outline: none;
  }
}
#font-selection {
  color: #333333;
  background: #efefef;
  border-radius: 15px;
  border: 1px solid #6600ea;
  ul {
    -moz-columns: 3 130pt;
    columns: 3 130pt;
    margin: 0;
    padding: 0;
    border: 0;
    background: #efefef;
  }
  li {
    min-width: 12em;
    list-style: none;
    line-height: 0;
    height: 22pt;
    display: block;
  }
  legend {
    width: auto;
    color: inherit;
    padding: 0.2rem 0.7rem;
    background-color: inherit;
    border: 1px solid #6600ea;
    border-radius: 15px;
  }
  label:hover {
    cursor: pointer;
  }
  input[type="radio"] {
    margin-right: 5pt;
  }
}

/* Choosing fonts via CSS (no-JS fallback)*/
#toggle:checked ~ .fontchange {
  font-family: OpenDyslexicThree-Regular;
  .lang {
    font-family: OpenDyslexicThree-Bold;
  }
  h2 {
    font-family: OpenDyslexicThree-Bold;
  }
}

/* Media queries */
@media only screen and (min-width: 50em) {
  body {
    max-width: 900pt;
  }
  main > * {
    flex-basis: 20rem;
  }
  header {
    background-size: 100%;
  }
  .skiplink {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
  }

  #accessibility-options {
    position: absolute;
    top: 0;
    right: 0;
    font-size: inherit;
    color: #efefef;
    background-color: #6600ea;
    border: 0;
    border-bottom-left-radius: 1.5em;
    font-weight: bold;
    padding: 0 0 0 0.5em;
  }
  #font-selection {
    margin: auto;
    color: #efefef;
    background-color: #6600ea;

    legend {
      border: 0;
      padding-top: 2em;
      padding-left: 0;
      margin-left: 0;
    }
    ul {
      -moz-columns: 1;
      columns: 1;
      color: #efefef;
      background-color: #6600ea;
      margin: 0;
    }
    li:hover {
      background-color: #5b00d2;
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #040012;
    color: #ccc;
    font-family: "Ubuntu-Medium";
  }
  a {
    text-decoration: none;
    color: #2ea0ff;
  }
  a:hover,
  a:focus {
    color: #b162f4;
  }
  h1 {
    font-family: "Ubuntu-Light";
    color: black;
  }
  h2 {
    font-family: "Ubuntu Regular";
    color: #e20cef;
  }
  ul {
    background: black;
  }
  #accessibility-options button {
    color: black;
  }
  #accessibility-options button:hover {
    background-color: #8432ee;
  }
  #font-selection {
    color: #ccc;
    background: #040012;

    ul {
      background: #040012;
    }
    legend {
      border: 1px solid #6600ea;
    }
  }
  footer {
    background: black;
  }
}

@media (prefers-color-scheme: dark) and (min-width: 50em) {
  #font-selection {
    color: black;
    background: #6600ea;

    ul {
      color: black;
      background: #6600ea;
    }
    li:hover {
      background-color: #8432ee;
    }
  }
}
